<!doctype html>
<html>
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}
    {% endblock %}
    <title>Sign Up </title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/869334941337546782/1036327824862220378/Method_Draw_Image.png">
</head>

<body class="bg-blue-200 font-sans text-gray-700 bg-gradient-to-tr from-blue-200 to-blue-400 min-h-screen" >
    <div class="container mx-auto p-8 flex">
        <div class="max-w-md w-full mx-auto">
            <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
                <div class="p-8">
                    <form method="POST" class="" action="#" onsubmit="return false;" {{ stimulus_controller('signup') }}>
                        <div class="mb-5">
                            <label for="username" class="block mb-2 text-sm font-medium text-gray-600">Name</label>
                            <input type="text" placeholder="Name" name="Jane Doe" {{stimulus_target('signup' ,'name')}}
                                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                        </div>
                        
                        <div class="mb-5">
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>
                            <input type="text" name="email"  placeholder="JaneDoe@Hoopla.tv" {{stimulus_target('signup' ,'email')}} 
                                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                        </div>

                        <div class="mb-2">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>
                            <input type="password" name="password"  placeholder="Password"  {{stimulus_target('signup' ,'pass')}}
                                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                        </div>

                        <div class="mb-5">              
                            {# <label for="confirmpassword" class="block mb-2 text-sm font-medium text-gray-600">Confirm Password</label> #}
                            <input type="password" name="confirmpassword" placeholder="Confirm Password"  {{stimulus_target('signup' ,'cpass')}}
                                class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                        </div>

                        <button class="w-full mt-4  bg-blue-500 text-white font-bold p-4 rounded-lg 
                                    hover:bg-blue-700 transition-all duration-200" {{stimulus_action('signup' ,"signup")}} >Create Account</button>
                    </form>
                </div>

                <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                <a href="/login" class="font-medium text-blue-500">Already Have an Account?</a>

                <a href="/stim" class="text-gray-600">Back Home</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>