<!doctype html>
<html class="scroll-smooth">
<head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app')}}
    {% endblock %}

    <title>Generate Image Using Dall-E </title>
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/869334941337546782/1036327824862220378/Method_Draw_Image.png">
</head>
<body class="bg-blue-200 bg-gradient-to-tr from-blue-200 to-blue-400 h-fit scrollbar "{{ stimulus_controller('genimage') }}>
    <div class=" min-h-screen flex items-center justify-center"  >

        <div class="bg-white w-10/12 absolute top-0 h-16 rounded-b-lg mx-auto flex items-center px-5 ">
            <h2  {{stimulus_target("genimage","username")}} class="" >
                Logged in as 
                <span id="loggedUsername" class="font-bold" ></span>, you have
                <span id="numberOfCredits" class="font-bold" ></span> credits

            </h2>
            <div class="absolute right-5 flex flex-row gap-10 ">
                <h2 class="hover:scale-x-110 transition-all duration-100"> <a id="admin" class="no-underline hidden" href="/admin">Admin Panel</a> </h2>
                <h2 class="hover:scale-x-110 transition-all duration-100"> <a class="no-underline" href="/collection">Visit Collection</a> </h2>
                <h2  class="cursor-pointer hover:scale-x-110 transition-all duration-100" >
                    <a {{stimulus_action("genimage","logout")}} class="no-underline" > Logout </a>
                </h2>                
            </div>
        </div>

        <div class="bg-white p-10 rounded-lg shadow md:w-3/4 mx-auto lg:w-1/2 transition-all duration-200 flex items-center 
                content-center flex-col">
            
            <input  type="text" {{ stimulus_target('genimage', 'prompt') }} placeholder="Tunisian Flag high detail" 
                    class="border border-gray-300 shadow p-3 w-full rounded mb-4" >

            <ul class="grid w-full gap-6 md:grid-cols-3 h-fit mb-4">
                <li>
                    <input type="radio" id="x256" name="resolution" value="256x256" class="peer hidden" required />
                    <label for="x256" 
                    class="inline-flex w-full cursor-pointer items-center justify-between rounded border border-gray-200 bg-white px-5 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600"> 256x256 </label>
                </li>
                <li>
                    <input type="radio" id="x512" name="resolution" value="512x512" class="peer hidden" checked />
                    <label for="x512" 
                    class="inline-flex w-full cursor-pointer items-center justify-between rounded border border-gray-200 bg-white px-5 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600">512x512 </label>
                </li>
                <li>
                    <input type="radio" id="x1024" name="resolution" value="1024x1024" class="peer hidden" />
                    <label for="x1024" 
                    class="inline-flex w-full cursor-pointer items-center justify-between rounded border border-gray-200 bg-white px-5 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-600 peer-checked:border-blue-600 peer-checked:text-blue-600">1024x1024 </label>
                </li>
            </ul>

            <button id="genButton" {{ stimulus_action('genimage', 'genButtonClicked') }} {{stimulus_target('genimage','button') }}
                    class="block w-full bg-blue-500 text-white font-bold p-4 rounded-lg hover:bg-blue-700 transition-all duration-200" >
                Generate  Image
            </button>
            <br>
            <img src="https://paouzswmtqahihhugxtg.supabase.co/storage/v1/object/public/symfony/Hey!.png" {{ stimulus_target('genimage', 'output') }}
                class="w-64 aspect-square m-auto rounded"/>
        </div>

        <a href="#imagesThisSession" class="absolute bottom-2 hidden" id="downArrowToRecent">
            <img src="https://paouzswmtqahihhugxtg.supabase.co/storage/v1/object/public/symfony/arrowDown.png" class=" h-20 brightness-200 animate-bounce drop-shadow-xl" />
        </a>
    </div>
    <section id="imagesThisSession" class="bg-white p-10 rounded-lg shadow md:w-3/4 mx-auto lg:w-3/4 
                transition-all duration-200 
                items-center content-center hidden grid-cols-3 gap-4 
                h-fit mb-10" ></section>
    <script>
        // to verify if user is logged in 
        function ifLoggedIn(json){                     
            const authToken = sessionStorage.getItem("authToken");
            const expirationDate= sessionStorage.getItem("expirationDate");

            console.log(authToken === null,authToken,"\n",(expirationDate === null),expirationDate);
            if (authToken === null || expirationDate === null ){
				window.location.href= "/login" ;                
                return }
            var myHeaders = new Headers();
            const {supabaseKey,supabaseUrl} = json;
            myHeaders.append("apikey", supabaseKey);
            myHeaders.append("Authorization", `Bearer ${supabaseKey}`);

            var requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };

            fetch(supabaseUrl+"/rest/v1/User?select=tokenExpirationDate,authToken,username,role,credits&authToken=eq."+authToken, requestOptions)
                .then(response => response.text())
                .then(result => {
                    const res= JSON.parse(result)[0];
                    if( !(res.authToken === authToken && new Date() < new Date(expirationDate))){
                        window.location.href= "/login";
                        return
                    }

                    console.log("already logged in");  
                    document.getElementById("loggedUsername").innerHTML=res.username;
                    document.getElementById("numberOfCredits").innerHTML=res.credits;

                    if (res.role === "Member") return 
                    document.getElementById("admin").classList.remove("hidden");                    
                })
                .catch(error => {console.log('error', error);
                    window.location.href= "/404?apiURL=/&apiName=Home";
                });

        }
        window.onload= function(){
            fetch("./secrets.json")
            .then((res)=> res.json())
            .then((json)=>{
                ifLoggedIn(json);
            })
            .catch(error =>{
                console.log('error reading JS', error);
                window.location.href= "/404";
            });
        }
    </script>
</body>
</html>